
/* Your CSS Code here. */
.questions {
            max-width: 600px;
            margin: 20px auto;      /* centers blockquote */
            padding: 15px;
			height:50px;
            border-left: 8px solid green;
            background-color: #f8fffe;
        }